<div class = "user-name">
  <h1><%= @user.first_name + " " + @user.last_name%></h1>
</div>

<div class = "summary">
  <%="Summary"%>
    <%if @summary%>
      <%=@summary.description%>
    <%end%>
    <div class = "new-summary">
      <%=form_for @new_summary do |f|%>
        <%= f.text_field :description, size: "40x10" %>
        <%= f.submit "Submit"%>
      <%end%>
    </div>
</div>

</br>

<div class = "experiences">
  <%="Experiences"%>
    <%if @experiences%>
      <%@experiences.each do |e|%>
        <%=e.description%>
      <%end%>
    <%end%>
    <div class = "new-experience">
      <%=form_for @new_experience do |f|%>
        <%= f.label :title%>
        <%= f.text_field :title%>
        <%= f.label :company_name%>
        <%= f.text_field :company_name%>
        <%= f.label :date%>
        <%= f.text_field :date%>
        <%= f.label :description%>
        <%= f.text_field :description, size: "40x10" %>
        <%= f.submit "Submit"%>
      <%end%>
    </div>
</div>

</br>

<div class = "projects">
  <%="Projects"%>
    <%if @projects%>
      <%@projects.each do |p|%>
        <%=p.description%>
      <%end%>
    <%end%>
  <div class = "new-project">
    <%=form_for @new_project do |f|%>
      <%= f.label :title%>
      <%= f.text_field :title%>
      <%= f.label :description%>
      <%= f.text_field :description, size: "40x10" %>
      <%= f.submit "Submit"%>
    <%end%>
  </div>
</div>

</br>

<div class = "languages">
  <%="Languages"%>
    <%if @languages%>
      <%@languages.each do |lang|%>
        <%=lang.description%>
      <%end%>
    <%end%>
    <div class = "new-language">
      <%=form_for @new_language do |f|%>
        <%= f.label :name%>
        <%= f.text_field :name%>
        <%= f.label :proficiency%>
        <%= f.text_field :proficiency%>
        <%= f.submit "Submit"%>
      <%end%>
    </div>
</div>

</br>

<div class = "skills">
  <%="Skills & Endorsements"%>
    <%if @skills%>
      <%@skills.each do |skill|%>
        <%=skill.name_of_skill%>
      <%end%>
    <%end%>
    <div class = "new-skill">
      <%=form_for @new_skill do |f|%>
        <%= f.label :name_of_skill%>
        <%= f.text_field :name_of_skill, size: "40x10" %>
        <%= f.submit "Submit"%>
      <%end%>
    </div>
</div>

</br>

<div class = "education">
  <%="Education"%>
    <%if @educations%>
      <%@educations.each do |ed|%>
        <%=ed.description%>
      <%end%>
    <%end%>
  <div class = "new-education">
    <%=form_for @new_education do |f|%>
      <%= f.label :school%>
      <%= f.text_field :school%>
      <%= f.label :degree%>
      <%= f.text_field :degree%>
      <%= f.label :date%>
      <%= f.text_field :date%>
      <%= f.submit "Submit"%>
    <%end%>
  </div>
</div>

</br>
