<body>

<h1><%= @user.first_name + @user.last_name%></h1>

<%="HI"%> <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>


<%if @current_user == @user%>
  <div class ="new_message">
    <%= form_for @message, url: profile_page_newsfeed_path(@current_user), method: :post do |f| %>
      <div class ="message">
        <%= f.text_area :description, placeholder: "Share an update", size: "100x1"%>
      </div>
      <div class = "share-button">
        <%= f.submit  "Share", id: 'create-message'%>
      </div>
    <%end%>
  </div>
<%else%>
<%= link_to "Pink In!", profile_page_pink_in_path(@user), :method =>:post %>
<%end%>

<%if !@networks%>
  <%@messages.each do |m|%>
    <%=m.description%>
  <%end%>
<%else%>
  <%@networks.each do |n|%>
    <%n.messages.each do |m|%>
      <%=m.description%>
    <%end%>
  <%end%>
<%end%>

<%if @newsfeed%>
  <%@newsfeed.each do |friends|%>
    <%friends.messages.each do |n|%>
      <%=n.description%>
    <%end%>
  <%end%>
<%end%>



 </body>

