<body>

<div class = "user-name">
  <h1><%= @user.first_name + " " + @user.last_name%></h1>
</div>

<div class ="friends-list">
  <h2><%="Pinkies"%></h2>
</div>

<div class= "sign-out">
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
</div>


<%if @current_user == @user%>
  <div class ="new_message">
    <%= form_for @message, url: profile_page_newsfeed_path(@current_user), method: :post do |f| %>
      <div class ="message">
        <%= f.text_area :description, placeholder: "Share an update", size: "100x1"%>
      </div>
      <div class = "share-button">
        <%= f.submit  "Share", id: 'create-message'%>
      </div>
    <%end%>
  </div>
<%else%>
  <%= link_to "Pink In!", profile_page_pink_in_path(@user), :method =>:post %>
<%end%>


<%if @newsfeed%>
  <%@newsfeed.each do |posts|%>
      <div class = "newsfeed-post">
        <li>
          <%="#{posts.user.first_name + " " + posts.user.last_name + ":"}"%>
          <%=posts.description%>
        </li>
      </div>
  <%end%>
<%end%>



 </body>

