<style>
  body {background-color:#F0F0F0}
</style>

<body>


<%=link_to "Profile", profile_page_profile_path(@user)%>
<%=link_to "My Profile", profile_page_profile_path(@current_user)%>
<div class= "sign-out">
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
</div>


<div class = "user-name">
  <h1><%= @user.first_name + " " + @user.last_name%></h1>
</div>

<%if @networks%>
  <%@pinky_friends = @networks[0].connected_ids_array.split(',').length%>
<%else%>
  <%@pinky_friends = 0%>
<%end%>

<div class = "pinkies">
  <h2><%= "Friends: #{@pinky_friends}" %></h2>
</div>

<%if @current_user == @user%>
  <div class ="new_message">
    <%= form_for @message, url: profile_page_newsfeed_path(@current_user), method: :post do |f| %>
      <div class ="message">
        <%= f.text_area :description, placeholder: "Share an update", size: "100x1"%>
      </div>
      <div class = "share-button">
        <%= f.submit  "Share", id: 'create-message'%>
      </div>
    <%end%>
  </div>
<%else%>
  <%= link_to "Pink In!", profile_page_pink_in_path(@user), :method =>:post %>
<%end%>

<div class = "people-you-may-know" style = "">
  <%="People you may know"%>
  <%="List 3 people that are 2nd tier connected"%>
</div>
</br>
<div class ="friends-list">
  <%="10 people have new connections"%>
  <%="List new connections that youre connections have made by checking their network"%>
</div>
</br>
<%#insert likes/status updates/everything into newsfeed array%>

<%if @newsfeed%>
  <%@newsfeed.each do |posts|%>
      <div class = "newsfeed-post">
        <li>
          <% if posts.user.avatar.path == nil %>
        <div>
          <img src=<%=image_path("cat.png")%> />
        </div>
      <%else%>
        <div>
          <img src=<%= posts.user.avatar%> alt =<%= "avatar"%> />
        </div>
      <%end%>
          <%="#{posts.user.first_name + " " + posts.user.last_name + ":"}"%>
          <%=posts.description%>
          <%if posts.liked_ids_array%>
            <%=liked = posts.liked_ids_array.split(',')%>
            <%if liked.length == 1%>
              <%= "#{liked[0].user.first_name + " " +liked[0].user.last_name + "likes this."}"%>
            <%elsif liked.length == 2%>
              <%= "#{liked[0].user.first_name + " " + liked[0].user.last_name + " and " + liked[1].user.first_name + " " + liked[1].user.last_name + "likes this."}"%>
            <%else%>
              <%="Likes (#{liked})"%>
            <%end%>
          <%else%>
            <%="Likes (0)"%>
          <%end%>

        </li>
      </div>
  <%end%>
<%end%>

</body>

