<%="HI"%>

<body>
<div class ="new_message">
  <%= form_for @message, url: profile_page_newsfeed_path(@user), method: :post do |f| %>
    <div class ="message">
      <%#= @user.first_name + @user.last_name%>
      <%= f.text_area :description, placeholder: "Share an update", size: "100x1"%>
    </div>
    <div class = "share-button">
      <%= f.submit  "Share", id: 'create-message'%>
    </div>
  <%end%>
</div>

<%@messages.each do |m|%>
  <%=m.description%>
  <%end%>




  <div class ="news_feed">
    <%if @networks%>
      <%@networks.each do |n|%>
        <div>
          <h3 style="color:blue"><%=n.user.first_name + " #{n.users.last_name}"%><h3>
          <div class ="message_feed">
            <%=n.user.message.description%>
          </div>
          <div class ="liked_feed">
              <%#="Liked(#{m.liked})"%>
          </div>
        </div>
      <%end%>
    <%end%>
   </div>
 </body>

